#navbar{
    display: flex;
    gap: 11%;
}
#upgradeSkillls{
    font-size: xx-large;
}
#landingpage{
    display: flex;
    gap: 11%;
}
#navbarDetails{
    display: flex;
    gap: 40px;
}
#logo{
    display: flex;
}
#moneyQuarantee{
    display: flex;
    gap: 7%;  
}
#login{
    border-radius: 74px;
    width: 120px;  
    height: 43px;
    font-size: medium;
    margin-top: 2%;
}
#buttons{
    display: flex;
}
#join{
    margin-top: 2%;
    height: 43px;
    border-radius: 74px;
    margin-left: 2%;
    width: 120px;
    font-size: medium; 
    color: whitesmoke;
    background-color: rgb(230, 16, 16);
}
#images{
    display: flex;
    gap: 2%;
}
#image{
    width: 734px;
    height: 553px;
}
#monthly{
    display: flex;
    gap: 8%;
} 
#resources{
    display: flex;
    gap: 2%;
    border-radius: 23px;
}
#skills{
    border-radius: 24px;
    width: 300px; 
    height: 42px;

}
#explore{
    background-color: red;
    border-radius: 24px;
    margin-left: -63px;
}
body{
    padding-left: 100px;
    padding-right: 24px;
    font-size: x-large;
}
@media screen and (max-width: 600px) and (min-width: 300px) {
    body{
    padding-left: 24px;
     padding-right:24%;
    display: block;
    font-size: medium;
    }
    #navbarDetails{
        display: block;
        gap: 35%;
    }
    #login{
        border-radius: 724px;
        width: 436px; 
        height: 43px;
        font-size: medium;
        margin-top: 2%;
    }
    #join{
        margin-top: 2%;
        height: 43px;
        border-radius: 74px;
        width: 426px;
        font-size: medium; 
        color: whitesmoke;
        background-color: rgb(230, 16, 16);
    }
    #buttons{
        display: flex;
    }
    #landingpage{
        display: block;
        gap: 11%;
    }
    #images{
        display: block;
        gap: 2%;
    }
    #image{
        display: flex;
        gap: 2%;
        width: 233px;
        height: 273px;
    }
    #navbar{
        display: block;
        gap: 2%;
        width: 22px;
    }
    #man{
        display: block;
        width: 350px;
    }
    #img{
        width: 23x;
        object-fit: cover;
    }
    #all{
        display: flex;
        gap: 0%;
        border-radius: 34px;
    }
    #footer{
        display: block;
        gap: 5%;
        font-size: x-large;
    }
  }